@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-gray-700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background-panel{
  background: rgb(56,25,87);
  background: linear-gradient(121deg, rgba(56,25,87,1) 0%, rgba(168,78,125,1) 100%);
}

@layer components {

  h1{
    @apply text-xl mb-2 mt-4 font-bold;
  }

  p{
    @apply mb-3;
  }

  ol{
    @apply list-decimal py-4;

    li{
      @apply ml-8
    }
  }

  h3, .h3-style{
    @apply font-bold text-sm;
  }

  h3{
    @apply mb-2
  }

  hr{
    @apply my-3;
  }

  .button-secondary {
    @apply bg-white disabled:bg-slate-200 hover:bg-orange-200/80 font-semibold disabled:text-gray-400 text-sm pl-2 pr-2 pt-1 pb-1 border-[1px] border-slate-200 rounded-lg shadow-sm;

    &.selected{
      @apply bg-pink-600/80 shadow-md text-white hover:bg-pink-500/70 border-pink-600/80;
    }
  }

  .button-group{
    .button-secondary{
      @apply rounded-none;

      &:first-child{
        @apply rounded-l-lg rounded-r-none;
      }

      &:last-child{
        @apply rounded-r-lg rounded-l-none;
      };
    }
  }

  .button-primary {
    @apply button-secondary bg-white text-base text-sm px-4 py-1.5;
  }

  .text-input {
    @apply shadow-inner border-2 bg-gray-50 px-2 py-1 text-lg rounded-md disabled:text-gray-400;

    &.sm{
      @apply text-sm px-1.5 py-0.5;
    }
  }

  .turn-container{
    @apply px-2 py-1 flex flex-col;
    .callout{
      @apply rounded-xl px-3 py-1 shadow-md max-w-xs text-gray-600 font-medium;
    }

    &.system{
      @apply items-start;
      .callout{
        @apply rounded-tl-none text-white text-sm;
        background: rgb(79,164,164);
        background: linear-gradient(90deg, rgb(156, 100, 185) 0%, #7352b6 100%);
      }
    }

    &.user{
      @apply items-end;
      .callout {
        @apply bg-white rounded-tr-none text-sm border-[1px];
      }
    }
  }

  .content-section{
    p{
      @apply text-gray-200;
    }
  }
}